*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body {
    height: 200vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.bookface{
    display:flex;
    flex-direction:column;
    width:300px;
    padding: 16px;
    border: 2px solid 
    rgb(23, 129, 182);
    border: radius 10px;
}
input{
    margin:6px 0px;
    height: 35px;
    padding: 9px;
}
button{
    height:45px;
    margin:5px 0px;
    justify-self:center;
    background-color:#0866FF;
    border:none;
    border-radius:2px;
    color:#FFFFFF;
    border-radius: 10px;

}
button:hover{
    background-color:rgb(165, 20, 190);
    color:rgb(8, 90, 122);

}
.register{
    display:grid;
    height:35px;
    border:none;
    border-radius:22px;

}
h6{
    text-align: center;
    color:#087CFF;
}
p{
    text-align: center;
    font-variant: normal;
}
.green{
    background-color:#42B72A;
}
.line{
    color: #2052be;
}